
.acomodaciones{
    
    display: flex;
    flex-wrap: wrap;
}
.card{
    margin:10px 20px;
    box-shadow:0 4px 8px 0 lightskyblue,0 6px 20px 0 rgba(0,0,0,0.19);
    width:350px; 
}
   



.imagen img{
    width:100%;
    height: auto;

    
}

.imagen:hover{
    border:1px solid skyblue;
    transform: rotate(-3deg);
}

.pie{
    text-align: center;
    
    padding:10px;
}